<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CodeFilter</filter-name>
		<filter-class>com.indeed.filter.CodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>com.indeed.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/fill_in</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.indeed.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update_status</servlet-name>
		<servlet-class>com.indeed.servlet.Update_statu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update_status</servlet-name>
		<url-pattern>/Update_status</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.indeed.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterCheck</servlet-name>
		<servlet-class>com.indeed.servlet.RegisterCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCheck</servlet-name>
		<url-pattern>/RegisterCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlatformSubmit</servlet-name>
		<servlet-class>com.indeed.servlet.PlatformSubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlatformSubmit</servlet-name>
		<url-pattern>/PlatformSubmit</url-pattern>
	</servlet-mapping>
</web-app>